<html>
    <head>

        <title>code.daviddoolin.com</title>
        <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <link rel="stylesheet" href="css/style.css" type="text/css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
        </script>
        <!-- From http://roshanbh.com.np/2008/03/expandable-collapsible-toggle-pane-jquery.html -->
        <script type="text/javascript"> $(document).ready( function() {

                //hide the all of the elements with class fulldescription
                $(".fulldescription").hide();

                //toggle the componenet with class msg_body
                $(".problem_space").click( function() {
                    $(this).next(".fulldescription").slideToggle(600);
                });
            });
        </script>
        <script type="text/javascript" src="http://use.typekit.com/fwp7zth.js">
        </script>
        <script type="text/javascript"> try {
                Typekit.load();
            } catch(e) {
            }
        </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-701371-34']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </head>
    <body>

        <div class="container">

            <div class="span-16 last">

                <h1>Code.DavidDoolin.com</h1>
                <p>
                    More than 15 years of coding are
                    scattered across repositories ranging from raw RCS files
                    to the latest version of Git.
                </p>
                <p>
                    Many of the repositories are corporate,
                    where the code was work for hire. Others are privately
                    hosted, but there is still a lot which is publicly
                    hosted.  Links to everything publicly available will
                    be given as necessary.
                </p>
                <p>
                    The story really starts with the projects. Most of this code
                    has been written to support, or implement a variety of
                    applications and software systems.
                </p>
                <p>
                    In the following, each project will be summarized, and the
                    technology explained in plain English, as much as possible.
                </p>
                <hr />
                <hr />

                <%= erb('_partials/hrecipe.html.erb') %>

                <!--
                <hr />
                <hr />

                <%= erb('_partials/wiaw.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/vax2c.html.erb') %>
                -->

                <hr />
                <hr />

                <%= erb('_partials/parametric.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/mine.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/wildfire.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/p2pnetworking.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/dda.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/f2j.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/fractureflow.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/fracturetoughness.html.erb') %>

                <hr />
                <hr />
                <hr />

                <%= erb('_partials/comments.html.erb') %>

                <hr />
                <hr />

                <%= erb('_partials/footer.html.erb') %>
            </div>
        </div>

  <div class="doolin">
  <span class="shamrock">&#9752;</span> <a href="http://dool.in/" title="My routing page.">dool.in</a>
  </div>

    </body>
</html>
